---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "us_web_design_standards",
        "va-rr-vars",
        "components/va-rr-header",
        "components/sidenav",
        "components/main-content",
        "va-rr-footer",
        "va-buttons",
        "components/va-nav-cards"
;

// Common, reusable styles =====
html, body {
  height: 100%; // Necessary for full-height navigation
}

body {
  @include transition(transform 250ms ease-in);
  background: $va-bg-base; 
  padding: 0;
  margin: 0;
  font-family: $font-sans;
  font-weight: 400; 
}

h1, h2, h3, [class^=va-heading] {
  font-family: "Roboto Slab";
}

// Text utility classes
.va-text-sans {
  font-family: $font-sans;
}

.va-text-serif {
  font-family: $font-headings;
}

.va-text-uc {
  text-transform: uppercase;
}

.va-text-center {
  text-align: center;
}

.va-heading--alt {
  border-bottom: 1px solid $color-gray-light;
  max-width: 53rem; 
  padding-bottom: .5em;
}

// Pushes text off screen, but keeps available for assistive tech
.va-text-sr {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.va-logo-type {
  background: transparent url(../assets/images/design/logo/logo.png) top left no-repeat;
  background-size: contain; 
  display: inline-block;
}

// Generic container styles =======
.va-rr-section {
  padding: 51px 0;
  
  h1, h2, h3, h4, h5, h6 {
    margin-top:0;
  }
  a {
    color: inherit;
  }
}

.va-rr-section--alt {
  background-color: $va-bg-box-snippet;
}
 
.va-rr-section--alt-med {
  background-color: $va-bg-alt-med;
  color: $va-text-alt;
}
 
// Home page =======

.va-rr-jumbotron {
  background: $va-bg-alt url(../assets/images/design/vads-crest.png) -55% 0 no-repeat;
  color: $va-text-alt;
}

.va-rr-jumbotron-heading {
  font-size: rem(50px);
}

.va-rr-jumbotron-body {
  font-size: 24px;
  font-weight: 200;
  width: 83rem;
}

.va-rr-jumbotron-cta {
  font-size: 24px;
}

.va-box-callout {
  border: 1px solid $va-text-alt;
  text-transform: uppercase;
  padding: 1.5rem;
      
  &-heading {
    display: block;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
  }
}