<aside class="sidenav" id="menu-content">
  <nav>
    <ul class="usa-sidenav-list">
      <li>
        <a {% if current[1] == 'getting-started' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/getting-started/index">Example</a>
      </li>
      <li>
        <a {% if current[1] == 'visual-style' %}class="usa-current"{% endif %} href="#">Example Primary Item</a>
        <ul class="usa-sidenav-sub_list visual-style-sublist">
          <li>
            <a href="#">example item</a>
            <ul class="usa-sidenav-sub_list">
              <li>
                <a href="#">Example Subitem</a>
              </li>
            </ul>
          </li>
        </ul>
      </li> 
    </ul>
  </nav>
</aside>


