<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  
  	<title>Templates</title>
  	<meta property="og:title" content=" | Templates">
  
  <meta name="description" content="Content Templates">
  <meta property="og:description" content="Patterns for commonly used webpages and forms on vets.gov" />
  <link rel="stylesheet" href="/roadrunner/css/prism.css">
  <link rel="stylesheet" href="/roadrunner/css/main.css">
  <link rel="canonical" href="https://department-of-veterans-affairs.github.io//roadrunner/design/templates/">



  <!-- Icons -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="/roadrunner/assets/img/favicons/favicon.ico" />
  <link rel="icon" type="image/png" href="/roadrunner/assets/img/favicons/favicon.png" />

  <!-- 192x192, as recommended for Android
  http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
  -->
  <link rel="icon" type="image/png" sizes="192x192" href="/roadrunner/assets/img/favicons/favicon-192.png" />

  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="/roadrunner/assets/img/favicons/favicon-57.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/roadrunner/assets/img/favicons/favicon-72.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/roadrunner/assets/img/favicons/favicon-114.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/roadrunner/assets/img/favicons/favicon-144.png">
  
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700|Roboto+Slab" rel="stylesheet" type="text/css">
</head>
<body>


<header class="va-rr-header">
  <a href="#menu-content" class="va-rr-menu-trigger">
    <svg class="va-rr-menu" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" pointer-events="none"><title>Open menu</title><g transform="translate(3 3)" fill="none" fill-rule="evenodd"><circle stroke="#DBDBDB" cx="13" cy="13" r="13"/><g fill="#D8D8D8"><rect y=".547" width="13.816" height="1.582" rx="8" transform="translate(6 12.273)"/><rect y=".547" width="13.816" height="1.582" rx="8" transform="translate(6 9)"/><rect y=".547" width="13.816" height="1.582" rx="8" transform="translate(6 15.545)"/></g></g></svg>
  </a>
  <div class="va-logo-type va-rr-header-logo">
    <b class="va-text-sr">Vets.gov</b>
  </div>
</header>



<main class="wrapper">
  <aside class="sidenav" id="menu-content">
  <a href="#menu-content" class="va-button-close va-rr-menu-trigger">
  	<svg class="va-rr-close" style="pointer-events:none;" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" pointer-events="none"><title>Close</title><g fill="none" fill-rule="evenodd"><circle cx="13" cy="13" r="13" stroke="#DBDBDB" transform="translate(3 3)"/><g transform="rotate(45 2.11 22.162)" fill="#D8D8D8"><rect x="6.456" width="3.023" height="15.964" rx="8"/><path d="M14.454 6.422c.69 0 1.246.572 1.246 1.287v.544c0 .71-.56 1.287-1.246 1.287H1.48C.794 9.543.236 8.97.236 8.256V7.71c0-.712.56-1.288 1.246-1.288h12.974z"/></g></g></svg>
  </a>
  <nav>
    <ul class="usa-sidenav-list">
     
       
      
        <li> 
        
       </li> <!-- end nav list item -->

      
        <li> 
         
            <a  href="/roadrunner/">Getting Started</a>
            
            
            
            
            
        
       </li> <!-- end nav list item -->

      
        <li> 
         
            <a  href="/roadrunner/feedback/">Feedback</a>
            
            
            
            
            
        
       </li> <!-- end nav list item -->

      
        <li> 
         
            <a  href="/roadrunner/design/">Design</a>
            
            
            
            
             
              <ul class="usa-sidenav-sub_list">
               
                
                <li> 
                  <a  href="/roadrunner/design/branding/index.html">Branding</a>
                  <ul class="usa-sidenav-sub_list">
                  
            
            
                  
                    <li><a href="/roadrunner/design/branding/index.html#typesetting">Typesetting</a></li>
                    <li><a href="/roadrunner/design/branding/index.html#alignment">Alignment</a></li>
                    <li><a href="/roadrunner/design/branding/index.html#line-length">Line Length</a></li>
                    <li><a href="/roadrunner/design/branding/index.html#spacing">Spacing</a></li>
                    <li><a href="/roadrunner/design/branding/index.html#color">Color</a></li>
                    <li><a href="/roadrunner/design/branding/index.html#logo">Logo</a></li>
                    <li><a href="/roadrunner/design/branding/index.html#thread-image">Thread Image</a></li>              
                  
                  
                  
                  
                  
                  
                  
                  
                  
                
                </ul><!-- end sub-sub nav list --> 
                </li>
              
                
                <li> 
                  <a  href="/roadrunner/design/forms-and-tools/index.html">Forms &amp; Tools</a>
                  <ul class="usa-sidenav-sub_list">
                  
            
            
                  
                  
                  
                  
                  
                  
                  
                  
                  
                    <li><a href="/roadrunner/design/forms-and-tools/index.html#text-input">Text Input</a></li>
                    <li><a href="/roadrunner/design/forms-and-tools/index.html#dropdown">Dropdown</a></li>
                    <li><a href="/roadrunner/design/forms-and-tools/index.html#font-sizings">Font Sizings</a></li>
                    <li><a href="/roadrunner/design/forms-and-tools/index.html#form-alerts">Form Alerts</a></li>
                  
                
                </ul><!-- end sub-sub nav list --> 
                </li>
              
                
                <li> 
                  <a  href="/roadrunner/design/key/index.html">Key</a>
                  <ul class="usa-sidenav-sub_list">
                  
            
            
                  
                  
                  
                  
                  
                  
                  
                  
                  
                
                </ul><!-- end sub-sub nav list --> 
                </li>
              
                
                <li> 
                  <a  href="/roadrunner/design/navigation/index.html">Navigation</a>
                  <ul class="usa-sidenav-sub_list">
                  
            
            
                  
                  
                  
                  
                  
                  
                  
                    <li><a href="/roadrunner/design/navigation/index.html#cards">Cards</a></li>
                    <li><a href="/roadrunner/design/navigation/index.html#piano-keys">Piano Keys</a></li>
                    <li><a href="/roadrunner/design/navigation/index.html#side-navigation">Side Navigation</a></li>
                  
                  
                  
                
                </ul><!-- end sub-sub nav list --> 
                </li>
              
                
                <li> 
                  <a  href="/roadrunner/design/page-elements/index.html">Page Elements</a>
                  <ul class="usa-sidenav-sub_list">
                  
            
            
                  
                  
                  
                  
                  
                    <li><a href="/roadrunner/design/page-elements/index.html#alerts">Alerts</a></li>
                    <li><a href="/roadrunner/design/page-elements/index.html#lists">Lists</a></li>
                    <li><a href="/roadrunner/design/page-elements/index.html#definition-block">Definition Block</a></li>
                    <li><a href="/roadrunner/design/page-elements/index.html#callout-box">Callout Box</a></li>
                    <li><a href="/roadrunner/design/page-elements/index.html#tables">Tables</a></li>
                    <li><a href="/roadrunner/design/page-elements/index.html#links">Links</a></li>
                    <li><a href="/roadrunner/design/page-elements/index.html#results">Results</a></li>
                    <li><a href="/roadrunner/design/page-elements/index.html#search">Search</a></li>
                  
                  
                  
                  
                  
                
                </ul><!-- end sub-sub nav list --> 
                </li>
              
                
                <li> 
                  <a class="usa-current va-rr-templates" href="/roadrunner/design/templates/index.html">Templates</a>
                  <ul class="usa-sidenav-sub_list">
                  
            
            
                  
                  
                  
                    <li><a href="/roadrunner/design/templates/index.html#form-templates">Form Templates</a></li>
                    <li><a href="/roadrunner/design/templates/index.html#grid">Grid</a></li>
                    <li><a href="/roadrunner/design/templates/index.html#footer">Footer</a></li>
                  
                  
                  
                  
                  
                  
                  
                
                </ul><!-- end sub-sub nav list --> 
                </li>
                             
              </ul><!-- end sub nav list -->
            
        
       </li> <!-- end nav list item -->

      
        <li> 
         
            <a  href="/roadrunner/content/">Content</a>
            
            
            
            
             
              <ul class="usa-sidenav-sub_list">
               
                
                <li> 
                  <a  href="/roadrunner/content/test-content-post/index.html">Test Content Post</a>
                  <ul class="usa-sidenav-sub_list">
                  
            
            
                  
                  
                  
                  
                  
                  
                  
                  
                  
                
                </ul><!-- end sub-sub nav list --> 
                </li>
                             
              </ul><!-- end sub nav list -->
            
        
       </li> <!-- end nav list item -->

      
        <li> 
        
       </li> <!-- end nav list item -->

      
    </ul> <!-- end nav list -->
   </nav>
</aside>




  <article class="main-content" id="main-content">
    

<header class="va-rr-sg-header va-rr-sg-header--templates">
  <h1 class="va-rr-sg-title">Templates</h1>
  
    <p class="va-rr-sg-description">Patterns for commonly used webpages and forms on vets.gov</p>
  
</header>


    <div class="styleguide-content usa-content">
        <h2 id="content-templates">Content Templates</h2>

<section class="va-rr-template-example">
    <h6 class="va-rr-template-example-title">Topic Landing</h6> 
  <div class="usa-grid-full">
    <img class="usa-width-one-half" src="/roadrunner/assets/images/templates/topic-landing.png" alt="Topic Landing" />
    <p class="usa-width-one-half">
      <a href="https://www.vets.gov/disability-benefits/">Topic landing</a> pages introduce main site areas. The template includes a brief introduction and card navigation linking to secondary content. It may also include quick links and help or contact information specific to the topic.
    </p>
  </div>
</section>

<section class="va-rr-template-example">
    <h6 class="va-rr-template-example-title">Detailed Landing</h6> 
  <div class="usa-grid-full">
    <img class="usa-width-one-half" src="/roadrunner/assets/images/templates/detailed-landing.png" alt="Panel filter wireframe" />
    <p class="usa-width-one-half">
      <a href="https://www.vets.gov/disability-benefits/conditions/">Detailed landing</a> pages communicate an overview of secondary information with links to faceted content. The template utilizes list style navigation and may include callout boxes, quick links and help or contact information specific to the topic.    
    </p>
  </div>
</section>

<section class="va-rr-template-example">
    <h6 class="va-rr-template-example-title">Panel Filter</h6> 
  <div class="usa-grid-full">
    <img class="usa-width-one-half" src="/roadrunner/assets/images/templates/panel-filter.png" alt="Panel filter wireframe" />
    <p class="usa-width-one-half">
      <a href="https://www.vets.gov/disability-benefits/conditions/exposure-to-hazardous-materials/agent-orange/">Panel filter</a> pages help visitors quickly identify content paths that are relevant to their specific circumstances. The template includes definition blocks that function as a filtering mechanism.
    </p>
  </div>
</section>

<section class="va-rr-template-example">
    <h6 class="va-rr-template-example-title">Action Pages</h6> 
  <div class="usa-grid-full">
    <img class="usa-width-one-half" src="/roadrunner/assets/images/templates/action-pages.png" alt="Action pages wireframe" />
    <p class="usa-width-one-half">
      <a href="https://www.vets.gov/disability-benefits/conditions/exposure-to-hazardous-materials/agent-orange/c-123/">Action pages</a> provide in-depth detail on particular topics and should help visitors to feel confident in taking next steps or accessing calls-to-action as needed. The template may also include definition blocks, Callout boxes and help or contact information specific to the topic.</p>
    
  </div>
</section>

<section class="va-rr-template-example">
    <h6 class="va-rr-template-example-title">Information Pages</h6> 
  <div class="usa-grid-full">
    <img class="usa-width-one-half" src="/roadrunner/assets/images/templates/information-pages.png" alt="Information pages wireframe" />
    <p class="usa-width-one-half">
      <a href="https://www.vets.gov/disability-benefits/conditions/service-connected/">Information pages</a> include an introduction and supporting body copy.
    </p>
  </div>
</section>

<section class="va-rr-template-example">
    <h6 class="va-rr-template-example-title">Process Pages</h6> 
  <div class="usa-grid-full">
    <img class="usa-width-one-half" src="/roadrunner/assets/images/templates/process-page.png" alt="Process Page Wireframe" />
    <p class="usa-width-one-half">
      <a href="https://www.vets.gov/disability-benefits/apply-for-benefits/">Process pages</a> support visitors through complex workflows and set them up for successful engagement with VA process. The template utilizes a process list and may also include list form navigation.
    </p>
  </div>
</section>

<h2 id="form-templates">Form Templates</h2>
<ul>
  <li>Component Element</li>
  <li>Component Description</li>
  <li>Component Code</li>
  <li>Component 508</li>
</ul>

<h2 id="grid">Grid</h2>

<p>This 12-column, responsive grid provides structure for website content.</p>

<div class="va-rr-grid-example preview preview-no_border grid-example grid-example-blank va-text-center">
  <div class="usa-grid">
    <div class="usa-width-one-whole">1/1</div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-half">1/2</div>
    <div class="usa-width-one-half">1/2</div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-third">1/3</div>
    <div class="usa-width-one-third">1/3</div>
    <div class="usa-width-one-third">1/3</div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-fourth">1/4</div>
    <div class="usa-width-one-fourth">1/4</div>
    <div class="usa-width-one-fourth">1/4</div>
    <div class="usa-width-one-fourth">1/4</div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-sixth">1/6</div>
    <div class="usa-width-one-sixth">1/6</div>
    <div class="usa-width-one-sixth">1/6</div>
    <div class="usa-width-one-sixth">1/6</div>
    <div class="usa-width-one-sixth">1/6</div>
    <div class="usa-width-one-sixth">1/6</div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-twelfth">1/12</div>
    <div class="usa-width-one-twelfth">1/12</div>
    <div class="usa-width-one-twelfth">1/12</div>
    <div class="usa-width-one-twelfth">1/12</div>
    <div class="usa-width-one-twelfth">1/12</div>
    <div class="usa-width-one-twelfth">1/12</div>
    <div class="usa-width-one-twelfth">1/12</div>
    <div class="usa-width-one-twelfth">1/12</div>
    <div class="usa-width-one-twelfth">1/12</div>
    <div class="usa-width-one-twelfth">1/12</div>
    <div class="usa-width-one-twelfth">1/12</div>
    <div class="usa-width-one-twelfth">1/12</div>
  </div>
</div>

<h3 id="grid-examples">Grid Examples</h3>

<div class="va-rr-grid-example preview preview-no_border grid-example grid-text">
  <div class="usa-grid">
    <div class="usa-width-one-half">
      <h3>One Half</h3>
      <p>Georgia is a state located in the southeastern United States. It was
      established in 1732 and was the last of the original Thirteen Colonies. 
      Named after King George II of Great Britain, Georgia was the fourth state 
      to ratify the United States Constitution, on January 2, 1788. Georgia 
      declared its secession from the Union on January 19, 1861, and was one of 
      the original seven Confederate states. Georgia was the last state to be 
      restored to the Union, on July 15, 1870. Georgia is the 24th largest and 
      the 8th most populous of the 50 United States.</p>
    </div>
    <div class="usa-width-one-half">
      <h3>One Half</h3>
      <p>Michigan is a state in the Great Lakes region of the Midwestern United 
      States. The name Michigan is the French form of the Ojibwa word 
      mishigamaa, meaning "large water" or "large lake". Michigan is the tenth 
      most populous state, with the 11th most extensive total area (the largest 
      state by total area east of the Mississippi River). Its capital is 
      Lansing, and the largest city is Detroit. Michigan is the only state to 
      consist of two peninsulas. A person in the state is never more than six 
      miles from a natural water source or 85 miles from a Great Lakes 
      shoreline.</p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-third">
      <h3>One Third</h3>
      <p>Maryland is a state located in the Mid-Atlantic region of the United 
      States, bordering Virginia, West Virginia, and Washington, D.C. to its 
      south and west; Pennsylvania to its north; and Delaware to its east.</p>
    </div>
    <div class="usa-width-one-third">
      <h3>One Third</h3>
      <p>Massachusetts is a state in the northeastern United States, bordered 
      by Rhode Island and Connecticut to the south, New York to the west, 
      Vermont and New Hampshire to the north, and the Atlantic Ocean to the 
      east.</p>
    </div>
    <div class="usa-width-one-third">
      <h3>One Third</h3>
      <p>North Carolina is a state in the Southeastern United States. North 
      Carolina borders South Carolina and Georgia to the south, Tennessee to the
      west, Virginia to the north, and the Atlantic Ocean to the east.</p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-fourth">
      <h3>One Fourth</h3>
      <p>California is a state located on the West Coast of the United States. 
      It is the most populous U.S. state, with 38 million people, and the third 
      largest state by area (after Alaska and Texas).</p>
    </div>
    <div class="usa-width-one-fourth">
      <h3>One Fourth</h3>
      <p>Illinois is a state in the Midwestern United States. It is the 5th most
       populous state and 25th largest state in terms of land area, and is often
       noted as a microcosm of the entire country.</p>
    </div>
    <div class="usa-width-one-fourth">
      <h3>One Fourth</h3>
      <p>Maine is a state in the New England region of the northeastern 
      United States. In spite of its maritime position, it has a continental
      climate even in coastal cities such as its largest city Portland.</p>
    </div>
    <div class="usa-width-one-fourth">
      <h3>One Fourth</h3>
      <p>Indiana is a U.S. state located in the midwestern and Great Lakes
      regions of North America. Indiana is the 38th largest by area and the
      16th most populous of the 50 United States.</p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-two-thirds">
      <h3>Two Thirds</h3>
      <p>Oregon is a state in the Pacific Northwest of the United States. Oregon 
      is bordered on the west by the Pacific Ocean, on the north by Washington, 
      on the south by California, on the east by Idaho, and on the southeast by 
      Nevada. The Columbia River delineates much of Oregon's northern boundary, 
      and the Snake River delineates much of the eastern boundary. It is one of 
      only three states of the contiguous United States to have a coastline on 
      the Pacific Ocean. The capital of Oregon is Salem, the second most 
      populous of its cities, with 160,614 residents (2013 estimate).</p>
    </div>
    <div class="usa-width-one-third">
      <h3>One Third</h3>
      <p>Minnesota is a state in the Midwestern United States. Minnesota was 
      admitted as the 32nd state on May 11, 1858, created from the eastern half 
      of the Minnesota Territory. Its name comes from the Dakota word for "clear 
      blue water".</p>
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-one-half">
      <h3>One Half</h3>
      <p>Virginia, is a U.S. state located in the South Atlantic region of the 
      United States. Virginia, formally the Commonwealth of Virginia, is 
      nicknamed the "Old Dominion" due to its status as the first colonial 
      possession established in mainland British America, and "Mother of 
      Presidents" because eight U.S. presidents were born there, more than any 
      other state. The geography and climate of the Commonwealth are shaped by 
      the Blue Ridge Mountains and the Chesapeake Bay, which provide habitat for
      much of its flora and fauna.</p>
    </div>
    <div class="usa-width-one-fourth">
      <h3>One Fourth</h3>
      <p>New York is a state in the Northeastern and Mid-Atlantic regions of the 
      United States. New York is the twenty-seventh-most extensive, the 
      fourth-most populous, and the seventh-most densely populated of the 50 
      United States.</p>
    </div>
    <div class="usa-width-one-fourth">
      <h3>One Fourth</h3>
      <p>Washington, D.C. is the capital of the United States, bordered by the 
      states of Maryland and Virginia. Formally known as the District of 
      Columbia, it is also commonly referred to as "Washington", "the District",
      or simply "D.C."</p>
    </div>   
  </div>

</div>

<div class="usa-accordion-bordered usa-accordion-docs">
  <button class="usa-button-unstyled usa-accordion-button" aria-expanded="true" aria-controls="collapsible-0">
    Documentation
  </button>
  <div id="collapsible-0" aria-hidden="false" class="usa-accordion-content">
    <h4 class="usa-heading">Implementation</h4>
    <p>To use the grid, wrap each grid row in a <code>&lt;div&gt;</code> with the <code>usa-grid</code> class. To use a grid without padding on the right and left, use the <code>usa-grid-full</code> class instead.</p>
    <p>Each grid item is written semantically by its width. For example: <code>usa-width-one-half</code> = 1/2 grid item, <code>usa-width-two-thirds</code> = 2/3 grid item.</p>
    <p>Medium breakpoints are used for 1/6 and 1/12 grid items, which both transform into a 1/3 grid item at medium screen sizes.</p> 
    <p>All grid items are full-width at small screen sizes.</p>
    <h4 class="usa-heading">Accessibility</h4>
    <ul class="usa-content-list">
      <li>Low-vision users should be able to increase the size of the text by up to 200 percent without breaking the layout.</li>
    </ul>
    
    <h4 class="usa-heading">Usability</h4>
    <h5>When to use</h5>
    <ul class="usa-content-list">
      <li>Almost always use a grid layout — visitors can read more quickly on pages that use grids. Choose a single grid system for your entire site.</li>
    </ul>
    <h5>When to consider something else</h5>
    <ul class="usa-content-list">
      <li>Avoid mixing this grid and other grid systems.</li>
    </ul>
    <h5>Guidance</h5>
    <ul class="usa-content-list">
      <li>Choose a 12-column grid with flexible column widths and fixed gutters. The width of the padding on the left and right edge of the grid depends on device size.</li>
      <li>Avoid text lines longer than 75 characters. Place text in narrower grid boxes to keep text lines from becoming too wide.</li>
    </ul>
  </div>
</div>

<h2 id="footer">Footer</h2>
<ul>
  <li>Component Element</li>
  <li>Component Description</li>
  <li>Component Code</li>
  <li>Component 508</li>
</ul>

    </div>
  </article>
  
</main>

<footer class="usa-footer va-rr-footer">
  <div class="usa-grid">
    <section class="usa-width-one-half">
      <h4 class="va-text-uc">Additional Resources</h4>            
    <ul>
      <li><a href="https://www.vets.gov/playbook/downloads/Toward_A_Veteran_Centered_VA.pdf">Toward a Veteran-Centered VA (PDF)</a></li>
      <li><a href="https://www.vets.gov/playbook/downloads/Voices_Of_Veterans.pdf">Voices of Veterans (PDF)</a></li>
      <li><a href="https://playbook.cio.gov/">U.S. Digital Services Playbook</a></li>
      <li><a href="https://playbook.cio.gov/designstandards/">U.S. Web Design Standards</a></li>
      <li><a href="https://pages.18f.gov/accessibility/pagetitles/">Accessibility Guide</a></li>
      <li><a href="https://github.com/department-of-veterans-affairs/roadrunner">Contribute on GitHub</a></li>
    </ul>
    </section>
    
      <section class="usa-width-one-half usa-end-row">
        <h4 class="va-text-uc">Help us make it better</h4>
        <p>Roadrunner was created by designers and developers of the Digital Services at the VA to standardize our projects, scale our teams and accelerate delivery. For any feedback, please create an issue on our GitHub repository.
</p>
        <p><a href="https://github.com/department-of-veterans-affairs/roadrunner/" class="usa-button va-button--cta">Contribute on GitHub</a></p>
      </section>
  </div>
  <div class="va-rr-footer-logo-wrap">
    <a href="/roadrunner/" class="va-logo-type va-rr-footer-logo"><b class="va-text-sr">Vets.gov</b></a>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="/roadrunner/js/prism.js"></script>
<script src="/roadrunner/js/styleguide.js"></script>
<script src="/roadrunner/js/main.js"></script>
<script src="/roadrunner/js/components.js"></script>
</body>
</html>



