<footer class="usa-footer va-rr-footer" role="contentinfo">
  <div class="usa-grid-full">
    <section class="usa-width-one-half">
      <h4 class="va-text-uc">Additional Resources</h4>            
    <ul>
      <li><a href="https://www.vets.gov/playbook/downloads/Toward_A_Veteran_Centered_VA.pdf">Toward a Veteran-Centered VA (PDF)</a></li>
      <li><a href="https://www.vets.gov/playbook/downloads/Voices_Of_Veterans.pdf">Voices of Veterans (PDF)</a></li>
      <li><a href="https://playbook.cio.gov/">U.S. Digital Services Playbook</a></li>
      <li><a href="https://playbook.cio.gov/designstandards/">U.S. Web Design Standards</a></li>
      <li><a href="https://pages.18f.gov/accessibility/pagetitles/">Accessibility Guide</a></li>
      <li><a href="https://github.com/department-of-veterans-affairs/roadrunner">Contribute on GitHub</a></li>
    </ul>
    </section>
    
      <section class="usa-width-one-half usa-end-row">
        <h4>Help us make it better!</h4>
        <p>{{ site.description }}</p>
        <p><a href="https://github.com/department-of-veterans-affairs/roadrunner/" class="usa-button va-button--cta">Contribute on GitHub</a></p>
      </section>
  </div>
  <div class="va-rr-footer-logo-wrap">
    <a href="#" class="va-logo-type va-rr-footer-logo"><b class="va-text-sr">Vets.gov</b></a>
  </div>
</footer>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
</body>
</html>


