<header class="va-rr-header">
  <a href="#menu-content" class="va-rr-menu-trigger">
    <svg class="va-rr-menu" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" pointer-events="none"><title>Open menu</title><g transform="translate(3 3)" fill="none" fill-rule="evenodd"><circle stroke="#DBDBDB" cx="13" cy="13" r="13"/><g fill="#D8D8D8"><rect y=".547" width="13.816" height="1.582" rx="8" transform="translate(6 12.273)"/><rect y=".547" width="13.816" height="1.582" rx="8" transform="translate(6 9)"/><rect y=".547" width="13.816" height="1.582" rx="8" transform="translate(6 15.545)"/></g></g></svg>
  </a>
  <div class="va-logo-type va-rr-header-logo">
    <b class="va-text-sr">Vets.gov</b>
  </div>
</header>

