<aside class="sidenav" id="menu-content">
  <a href="#menu-content" class="va-button-close va-rr-menu-trigger">
  	<svg close="va-rr-close" style="pointer-events:none;" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" pointer-events="none"><title>Close</title><g fill="none" fill-rule="evenodd"><circle cx="13" cy="13" r="13" stroke="#DBDBDB" transform="translate(3 3)"/><g transform="rotate(45 2.11 22.162)" fill="#D8D8D8"><rect x="6.456" width="3.023" height="15.964" rx="8"/><path d="M14.454 6.422c.69 0 1.246.572 1.246 1.287v.544c0 .71-.56 1.287-1.246 1.287H1.48C.794 9.543.236 8.97.236 8.256V7.71c0-.712.56-1.288 1.246-1.288h12.974z"/></g></g></svg>
  </a>
  <nav>
    <ul class="usa-sidenav-list">
      {% include tabbed-nav.html %}
      <li>
        <a {% if current[1] == 'getting-started' %}class="usa-current"{% endif %} href="#">Example</a>
      </li>
      <li>
        <a {% if current[1] == 'visual-style' %}class="usa-current"{% endif %} href="#">Example Primary Item</a>
        <ul class="usa-sidenav-sub_list visual-style-sublist">
          <li>
            <a href="#">example item</a>
            <ul class="usa-sidenav-sub_list">
              <li>
                <a href="#">Example Subitem</a>
              </li>
            </ul>
          </li>
        </ul>
      </li> 
    </ul>
  </nav>
</aside>


