<aside class="sidenav" id="menu-content">
  <a href="#menu-content" class="va-button-close va-rr-menu-trigger">
  	<svg class="va-rr-close" style="pointer-events:none;" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" pointer-events="none"><title>Close</title><g fill="none" fill-rule="evenodd"><circle cx="13" cy="13" r="13" stroke="#DBDBDB" transform="translate(3 3)"/><g transform="rotate(45 2.11 22.162)" fill="#D8D8D8"><rect x="6.456" width="3.023" height="15.964" rx="8"/><path d="M14.454 6.422c.69 0 1.246.572 1.246 1.287v.544c0 .71-.56 1.287-1.246 1.287H1.48C.794 9.543.236 8.97.236 8.256V7.71c0-.712.56-1.288 1.246-1.288h12.974z"/></g></g></svg>
  </a>
  <nav>
    <ul class="usa-sidenav-list">
    {% assign current = page.title %} 
    {% assign current_label = current|downcase|split:" " %}   
      {% for spage in site.pages %}
        <li> 
        {% if spage.title %} 
            <a {% if current.title == page.title|downcase %}class="usa-current"{% endif %} href="{{ spage.url | prepend: site.baseurl }}">{{ spage.title }}</a>
            
            {% comment %}
            This retrieves each collection by its key:
              - design
              - content
              - feedback
            
            Each collection is an array.
            
            If the collection has items (if size > 0), we'll print its title.
            Then we'll iterate over each document in the collection.
            {% endcomment %}
            
            {% assign which = spage.title|downcase %}
            {% if site[which].size > 0 %} 
              <ul class="usa-sidenav-sub_list">
               {% for document in site[which] %}
                {% assign title_class = document.title|downcase|replace:' ',''|replace:'&amp;', ''|prepend: 'va-rr-' %}
                <li> 
                  <a {% if document.title == page.title|downcase %}class="usa-current {{title_class}}"{% endif %} href="{{ document.url | prepend: site.baseurl }}">{{document.title}}</a>
                  <ul class="usa-sidenav-sub_list">
                  {% comment %}
                    Every page-level navigation list should be added here as a conditional.
                    Compare the known title to the document.title property. Check whether we
                    are in the correct collection by comparing the value of `which` to the 
                    collection name.
                  {% endcomment %}
            
            
                  {% if document.title == 'Branding' && which == 'design' %}
                    <li><a href="{{ document.url | prepend: site.baseurl }}#typesetting">Typesetting</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#alignment">Alignment</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#line-length">Line Length</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#spacing">Spacing</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#color">Color</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#logo">Logo</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#thread-image">Thread Image</a></li>              
                  {% endif %}
                  
                  {% if document.title == 'Templates' && which == 'design' %}
                    <li><a href="{{ document.url | prepend: site.baseurl }}#form-templates">Form Templates</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#grid">Grid</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#footer">Footer</a></li>
                  {% endif %}
                  
                  {% if document.title == 'Page Elements' && which == 'design' %}
                    <li><a href="{{ document.url | prepend: site.baseurl }}#alerts">Alerts</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#lists">Lists</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#definition-block">Definition Block</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#callout-box">Callout Box</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#tables">Tables</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#links">Links</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#results">Results</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#search">Search</a></li>
                  {% endif %}
                  
                  {% if document.title == 'Navigation' && which == 'design' %}
                    <li><a href="{{ document.url | prepend: site.baseurl }}#cards">Cards</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#piano-keys">Piano Keys</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#side-navigation">Side Navigation</a></li>
                  {% endif %}
                  
                  {% if document.title == 'Forms &amp; Tools' && which == 'design' %}
                    <li><a href="{{ document.url | prepend: site.baseurl }}#text-input">Text Input</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#dropdown">Dropdown</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#font-sizings">Font Sizings</a></li>
                    <li><a href="{{ document.url | prepend: site.baseurl }}#form-alerts">Form Alerts</a></li>
                  {% endif %}
                
                </ul><!-- end sub-sub nav list --> 
                </li>
              {% endfor %}               
              </ul><!-- end sub nav list -->
            {% endif %}
        {% endif %}
       </li> <!-- end nav list item -->

      {% endfor %}
    </ul> <!-- end nav list -->
   </nav>
</aside>


