// Call to action buttons
.va-button--cta {
  background-color: $color-green;
  text-decoration: none !important;

}

.va-button-close {
  background-color: transparent;
  padding: 0;
  width: auto;
  
  &:hover {
    background-color: inherit;
  }
}

.va-rr-menu-trigger {
  display: inline-block;
  margin: 2.6rem 2rem 2rem;
}

@include media($medium-screen) {
  .va-rr-menu-trigger {
    display: none;
  }
}