// Contains variables that are specific to the VA's Roadrunner toolkit.

// Text styles =======

$base-font-size: rem(16px);
$font-headings: 'Roboto Slab', serif;

$width-nav-sidebar:  250px;
$width-nav-sidebar-sm:  50%; 
$color-grid-dark:    #727272;
$color-grid-light:   #e3e4e5;
$site-top:           100px;


// Colors =======
$va-text-base:     #262c35; // Dark steel gray
$va-text-alt:      $color-white; // White
$va-text-alt-dark: #0f2d52; // Navy blue

// Backgrounds
$va-bg-base:          $color-white; 
$va-bg-box-call-out:  #ececec; // Pale gray 
$va-bg-box-snippet:   #e1fcfd; // Pale blue  
$va-bg-breadcrumb:    #092332; // Midnight blue 
$va-bg-alt:           #0f2d52; // Navy blue
$va-bg-alt-med:       #006fbf; // Medium blue 
$va-bg-nav:           #032534; // Midnight blue
$va-bg-nav-hover:     #133A4B; // Lighter midnight blue

$va-bg-sidenav:       #216380; // Cadet blue
$va-bg-sidenav-hover: #508EAA;


// Buttons =======
$va-button-a:      $color-green; // Green

// Section colors =======
$va-rr-brand:         #9712b3;
$va-rr-page-elements: #4b6118;
$va-rr-navigation:    #ce005d;
$va-rr-forms-tools:   #de2c13;
$va-rr-templates:     #20bcc4; // Teal 
