// Call to action buttons
.va-button {
  background-color: $va-button-a;
  text-decoration: none !important;
  
  &:hover {
  	background: darken($va-button-a, 5%);
  }
}

.va-button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $va-bg-nav;
  color: $usa-primary;
}