// Contains variables that are specific to the VA's Roadrunner toolkit.

// Colors =======
$va-base-text:     #262c35; // Dark steel gray
$va-bread-crumb:   #092332; // Midnight blue
$va-box-call-out:  #ececec; // Pale gray  
$va-box-snippet:   #e1fcfd; // Pale blue  
$va-brand:         #0a5bae; // Cerulean
$va-navigation:    #ce005d; // Aggressive pink
$va-page-elements: #4b6118; // Late summer grass green
$va-templates:     #fcab19; // Gold 
$va-forms-tools:   #de2c13; // Burnt orange

