// Contains variables that are specific to the VA's Roadrunner toolkit.

// Text styles =======

$base-font-size: rem(16px);
$font-headings: 'Roboto Slab', serif;


// Colors =======
$va-text-base:     #262c35; // Dark steel gray
$va-text-alt:      #fff;    // White

// Backgrounds
$va-bg-base:          $va-text-alt; 
$va-bg-box-call-out:  #ececec; // Pale gray 
$va-bg-box-snippet:   #e1fcfd; // Pale blue  
$va-bg-breadcrumb:    #092332; // Midnight blue 
$va-bg-footer:        #0f2d52; // Navy blue


// Buttons
$va-button-a: #2e8540;    // Green


$va-brand:         #0a5bae; // Cerulean

$va-page-elements: #4b6118; // Late summer grass green

$va-navigation:    #ce005d; // Aggressive pink

$va-forms-tools:   #de2c13; // Burnt orange

$va-templates:     #fcab19; // Gold 


//https://www.vets.gov/assets/images/design/logo/logo.png