// Call to action buttons
.va-button--cta {
  background-color: $va-button-a;
  text-decoration: none !important;
  
  &:hover {
  	background: darken($va-button-a, 5%);
  }
}

.va-button-close {
  background-color: transparent;
  padding: 0;
  width: auto;
  
  &:hover {
    background-color: inherit;
  }
}

.va-rr-menu-trigger {
  display: inline-block;
  margin: 2rem;
}