---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "us_web_design_standards",
        "components/sidenav",
        "components/main-content",
        "va-rr-vars",
        "va-rr-header",
        "va-rr-footer",
        "va-buttons"
;

// Common, reusable styles =====
body {
	background: $va-bg-base; 
	padding: 0;
  margin: 0;
  font-family: $font-sans;
  font-weight: 500; 
}

// Text utility classes
.va-text-uc {
	text-transform: uppercase;
}

// Pushes text off screen, but keeps available for assistive text
.va-text-sr {
		position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.va-logo-type {
  background: transparent url(../assets/images/design/logo/logo.png) top left no-repeat;
  background-size: contain; 
  display: inline-block;
}



    