// Variables -------------- //

$width-nav-sidebar:  250px;
$width-nav-sidebar-sm:  40%;
$color-grid-dark:    #727272;
$color-grid-light:   #e3e4e5;
$site-top:           100px;

// Based on code by Diego Eis

// Sidebar Nav --------- //
.wrapper {
  min-height: 100%;
}

.sidenav {
  @include transform(translateX(-100%));
  @include transition(transform 250ms ease-in);  
  position: fixed;
  height: 100%;
  top:0; 
  width: $width-nav-sidebar-sm;
  overflow-x: hidden;
  overflow-y: auto;
  background: $va-bg-sidenav; 
  z-index: 1;

  // TO DO: Can probably delete this, but need to test
  .lt-ie9 & {
    width: 25%;
  }

  .usa-sidenav-sub_list {
    display: none;
  }

  @include media($medium-screen) {
    @include transform(none);
    display: block;
    padding: 5rem 3rem 3rem 3rem;
    position: absolute;
    width: $width-nav-sidebar;
    
    .va-button-close {
      display: none;
    }
  }
}

@include media($medium-screen) {
  .sidenav--home {
    display: none;
  }
}

.va-rr-menu-open {
    @include transform(none);
}

.visual-style .sidenav .visual-style-sublist {
  display: block;

  ul {
    display: block;
  }
}

.form-controls .sidenav .form-controls-sublist {
  display: block;
}

.form-templates .sidenav .form-templates-sublist {
  display: block;
}

.footers .sidenav .footers-sublist {
  display: block;
}

// Main Content --------- //
.wrapper {
  @include media($medium-screen) {
    position: relative;
  }
}
  
.main-content { 
  @include media($medium-screen) {
    margin-left: $width-nav-sidebar;    
  }
}

//Styleguide Content -------- //
.styleguide-content {
  h2, h3, h4 {
    color: $color-primary-darker;
  }
}

.va-rr-sg-header {
  background: $va-rr-templates; // TODO: Delete this line
  color: $color-white;
  margin-bottom: 3em;
  padding: 2em;
  
  @media (min-width: $medium-screen) {
    @include padding(null 3em 200px);
    height: 420px;
  }
}
.va-rr-sg-header--branding {
  background-color: $va-rr-brand;
}
.va-rr-sg-header--templates {
  background-color: $va-rr-templates;
}

.va-rr-sg-title {
  margin: 0;
  font-weight: normal;
}
.va-rr-sg-description {
  margin-top: 3rem;
}

.styleguide-content {
  padding-bottom: 5em;
  max-width: $site-max-width;
  @include padding(null 2em);
  position: relative;

  > h1 {
    margin-top: 3.4rem;
    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }
  @media (min-width: $medium-screen) {
    @include padding(null 3em);
  }
}

// Samples & examples ======
// 
// Branding > Typography section
.va-rr-typo-sample-wrapper {
  @include clearfix;
  background: lilac;
  clear: both;
}

.va-rr-typo-sample {
  font-size: rem(15px);
}
.va-rr-typo-sample--xxxl {
  font-size: rem(140px);
}

@media (min-width: $medium-screen) {
  .va-rr-typo-sample-wrapper {
    padding-top: 70px;
  }
  .va-rr-typo-sample--xxxl {
    font-size: rem(140px);
    float: left;
    margin: -70px 20px 0 0;
  }
}
// Grids =======
.va-rr-grid-example {
  color: $color-white;
  margin-bottom: 2em;
  text-align: center;
  
  .usa-grid {
    background-color: $color-gray-lightest;
    padding: 10px;
  }
  [class*=usa-width] {
    background-color: #727272;
    padding: 10px; 
  }
}

// Colors =======

.va-bg-color-primary-darkest {
  background-color: $color-primary-darkest;
}

img.va-bg-color-primary-darkest {
  padding: 0 1em;
}

.va-rr-swatch-wrap {
  margin-bottom: 20px;
  
  b, span {
    display: block;
  }
}

.va-rr-heading-separated {
  border-bottom: 1px solid $va-text-alt;
  font-weight: inherit;
  padding-bottom: 2rem;
  margin-bottom: 6rem;
}

.va-rr-example,
.va-rr-blockquote {
  font-family: $font-sans;
  margin-top: rem(30px);
  
  h3,h4,h5,h6 {
    font-family: inherit;
  }
}

.va-rr-blockquote {
  border-left: 2px solid $color-primary;
  padding-left: 1rem;
} 

.va-rr-help-text {
  border-top: 2px solid $color-primary;
  color: $color-primary;
  font-size: rem(10px);
  padding-top: rem(10px);
  text-align: center; 
}


// Lists =======

.va-rr-nobullet {
  list-style: none;
  
  & li::before {
    display: list-item;
    content: '';
    padding: 0;
  }
}