.usa-sidenav-list,
.usa-sidenav-sub_list  {
  color: $color-white;
  
  li {
    border: none;  
  }
  
  // Using !important here because usa-sidenav-list
  // and usa-sidenav-sub_list are really specific.
  a {
    border-left: 4px solid transparent !important;
    color: inherit !important;
    
    &:hover {
      background-color: $va-bg-sidenav-hover;
    }
    
    &.usa-current {
      font-weight: inherit;
    }
  } 
}

// TO DO: Refactor this. Using chaining and !important here to override
// the !important on lines 12 & 13. Lines 12 & 13 overrides the specificity
// inherited from USWDS. Using !important because it he saves some bytes. 
.usa-current { 
  background-color: $va-bg-sidenav-hover;
   
  &.va-rr-navigation {
    border-left-color: $va-rr-navigation !important;
  }
  &.va-rr-branding {
    border-left-color: $va-rr-brand !important;
  }
  &.va-rr-branding {
    border-left-color: $va-rr-brand !important;
  }
  &.va-rr-formstools {
    border-left-color: $va-rr-forms-tools !important;  
  }
  &.va-rr-pageelements {
      border-left-color: $va-rr-page-elements !important;
  }
  &.va-rr-templates {
      border-left-color: $va-rr-templates !important;
  }
}
