.va-rr-footer {
  background: $va-bg-alt;
  color: $va-text-alt;
  font-family: inherit;
  padding-top: rem(20px);
  
  h4 {
    font-family: $font-sans;
    // Overrides a USWDS style 
    + ul {
      margin-top: 1em;
    }
  }
  
  a {
    text-decoration: underline;
    
    &:link, 
    &:visited {
      color: $va-text-alt;
    }  
  }  
}

@include media($medium-screen) {
  .va-rr-footer--alt {
    margin-left: $width-nav-sidebar;
  }
}



  
  
  
  
.va-rr-footer-logo {
	width: 158px;
	height: 30px;
}

.va-rr-footer-logo-wrap {
  background-color: $va-bg-breadcrumb;
  text-align: center;
  padding: rem(10px) 0;
}