.va-rr-header {
  background: $va-bg-nav;
  font: 400 1.3em $font-sans;
  height: rem(85px);
  line-height: 1;
  position: relative;
  
  .usa-grid-full {
    height: 100%;
    
    &::after {
      content: none; 
    }
  }
}
  
.va-rr-header-logo {
  height: 45px;
  width:  177px;
  // Next 4 lines vertically center the logo
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  
  @include media($medium-screen) {
    margin-left: rem(20px);
  }
}

.va-rr-nav-top {
  display: none;
  
  @include media($medium-screen) {
    display: inline-block;
    height: 100%;
    margin-left: rem(230px);
    position: relative;
    top: 0; 
  }
  
  a {
    color: $va-text-alt;
    display: block;
    height: 100%;
    padding: .4rem 2rem;
    text-decoration: none;
    line-height: 3.7;

    &:hover,
    &:active {
      background: $va-bg-nav-hover;
    }
  }
}

.va-rr-nav-top-list {
  display: inherit;
  height: inherit;
  margin: 0;
  
  &::after {
    content: none;
  }
  
  li {
    display: inline-block;
    height: inherit;
    margin: 0;
    
    &::before, &::after {
      content: none;
    }
  }
}
